# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
